/* author: Comehope */
*{
    margin: 0;
    padding: 0;
    font-family: inheritCircular Std,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eff0f4;
    min-height: 100%;

}

a{
    text-decoration: none;
}

#header{
    --w: #FABC3C;
    padding-top: 70px;
    text-transform: full-size-kana;
    font-weight: bold;
    font-size: 40px;
    /*color: rgb(78,68,206);*/
    color: #F55536;
    flex: 1 0 auto
}

#nav{

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    --c: #F19143;
    color: #FF773D;
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.75s;
    transition-delay: calc((var(--n) - 1) * 0.15s);
    z-index: -1;
}

nav ul li:hover {
    color: #eff0f4;
    cursor: pointer;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
nav ul li span:nth-child(5) {
    --n: 5;
}

footer{
    text-transform: full-size-kana;
    font-weight: bold;
    font-size: 13px;
    /*background: goldenrod;*/
    flex: 0 0 auto;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 5px 15px 5px;
    text-align: center;
}
footer div{
    padding: 15px;
    border: 0.4em solid #F55536;
    background: #F55536;
    border-radius: 0.5em;
    color: #eff0f4;
}

footer a{
    text-decoration: none;
    color: var(--w);
}

.content{
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px;
}

.content img{
    align-items: center;
    width: 450px;
}

@media all and (max-width: 800px){
    h1{
        text-align: center;
        padding:0;
        padding-top:20px;
        padding-bottom:40px;
        font-size:40pt;
    }

    footer{
        width: 80%;
        padding: 0;
        padding-bottom: 20px;
    }

    .content{
        padding-bottom: 40px;
    }

    #header{
        padding: 0;
    }

}